ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
/*    position: fixed;*/
/*    top: 0;*/
    width: 100%;
    -moz-box-shadow: 0px 0px 3px grey; 
    -webkit-box-shadow: 0px 0px 3px grey; 
    box-shadow: 0px 0px 3px grey;
}
li {
    float: left;
}
li:not(.contactMeList) {
    border-right: 1px solid grey !important;
}
.contactMeList {
    border-left: 1px solid grey !important;
}
.brand {
    margin: auto;
}
li p {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: cornflowerblue;
    font-weight: bold;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
    color: cornflowerblue;
}
li a:hover.active {
    text-decoration: none;
}
li a:focus.active {
    text-decoration: none;
}
li a:hover a:visited a:active{
    text-decoration: none;
}
.active {
    background-color: cornflowerblue;
    color:white !important;
    text-decoration: none;
}
.active:hover {
    color: white;
}
body {
    background-color: #bab6c1;
    min-height: 2000px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
img#headerIMG {
    display: block;
    margin: 0 auto;
}
.portrait {
    margin: auto;
    padding: 20px;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}
.aboutMeDiv {
    padding-top: 30px;
}
.aboutMeInfoDiv {
    padding: 20px;
    height:390px;
    vertical-align: middle;
    text-align: center;
}
.title {
    text-align: center;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 4px grey;
    padding-bottom: 20px;
}