ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
/*    position: fixed;*/
/*    top: 0;*/
    width: 100%;
    -moz-box-shadow: 0px 3px 3px rgba(56, 56, 56, 0.5); 
    -webkit-box-shadow: 0px 3px 3px rgba(56, 56, 56, 0.5); 
    box-shadow: 0px 3px 3px rgba(56, 56, 56, 0.5);
}
li {
    float: left;
}
li:not(.contactMeList) {
    border-right: 1px solid grey !important;
}
.contactMeList {
    border-left: 1px solid grey !important;
}
.brand {
    margin: auto;
}
li p {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: cornflowerblue;
    font-weight: bold;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
    color: cornflowerblue;
}
li a:hover.active {
    text-decoration: none;
}
li a:focus.active {
    text-decoration: none;
}
li a:hover a:visited a:active{
    text-decoration: none;
}
.active {
    background-color: cornflowerblue;
    color:white !important;
    text-decoration: none;
}
.active:hover {
    color: white;
}
body {
    background-color: #bab6c1;
    min-height: 2000px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
img#headerIMG {
    display: block;
    margin: 0 auto;
}
.portrait {
    margin: auto;
    padding: 20px;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}
.aboutMeDiv {
    padding-top: 30px;
}
.aboutMeInfoDiv {
    padding: 20px;
    height:390px;
    vertical-align: middle;
    text-align: center;
    line-height: 120%;
}
.title {
    text-align: center;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 4px grey;
    padding-bottom: 20px;
}
.projTitle {
    text-align: center;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 4px grey;
    padding-bottom: 20px;
    padding-top: 30px;
}
.contactTitle {
    text-align: center;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 4px grey;
    padding-bottom: 20px;
    padding-top: 30px;
}
.projImage {
/*
    padding-top: 20px;
    padding-bottom: 10px;
*/
    margin: auto;
    margin-bottom: 7px;
    margin-top: 20px;
    border: 1px solid #000;
}
.projInfo {
    text-align: center;
    margin-bottom: 1px;
}
.projInfoTitle {
    text-align: center;
    font-weight: 800;
    margin-bottom: 5px;
}
.projSkills {
    text-align: center;
}
.contactMeLogos {
    margin-top: 30px;
}

.logoLink {
    margin: 0 auto;
    margin-bottom: 30px;
}
.emailTitle {
    font-size: 34px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
    color: black;
    
}
.email {
    font-size: 20px;
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 40px;
}
/*X-Small*/
@media (max-width: 767px) {
    .aboutMeInfoDiv {
        padding-left: 50px;
        padding-right: 50px;
    }
}
/*Small*/
@media (max-width: 991px) and (min-width: 768px) {
    .aboutMeInfoDiv {
        padding-top: 60px;
    }
}
/*MEDIUM*/
@media (max-width: 1199px) and (min-width: 992px) {
    .aboutMeInfoDiv {
        padding-top: 80px;
    }
}
/*LARGE*/
@media (min-width: 1200px) {
    .aboutMeInfoDiv {
        padding-top: 100px;
}

/* Add to screen smaller than
@media (max-width: 767px) {

}
*/